.p-fv {
    width: 100%;
    height: 700px;
  
    /* 背景画像を表示 */
    background-image: url(../thank_back.jpg);
  
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .p-fv::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .p-fv__copy {
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 56px;
    font-weight: bold;
  }