body {
  background-image: url('../sky2.png');
  background-size: cover;
}
  
.text {
    position: relative;
    color: #fff;
    display: flex;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}

.btn{
  padding: 15px; 
  font-size: 15px;
  background-color: azure;
  border: #fff;
  position: relative;
  z-index: 10;
}

.bottom {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px; 
  pointer-events: auto;
}

h1 {
  font-size: 80px;
  color: #fff;
  text-align: center;
  margin-top: 15%;
}

h2 {
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-top: 5%;
}


